INSERT INTO test (title, content) VALUES ('{{ info_type }}', 'Last change happened on the {{ lookup('pipe', 'date  --date=@' + mydate  ) }}, please refer to URL {{ web_server_uri }}{{ info_type }}/{{ itm_new_file | basename }}');
